

.info-container{
    font-weight: 400;
    font-family: var(--serif);
    margin: 67px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.info{
    padding: 20px;
    width: 75%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: space-around;
    align-items: center;
}/*
.even-info-box{
    width: 85%;
    flex-direction: row-reverse;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.even-info-box p{
    font-size: clamp(1rem, 1vw, 3rem);
    text-align: justify;
    width: 60%;
}
.even-info-box p span{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(rgb(47, 47, 243),rgb(161, 22, 248));
    font-weight: bold;
    font-size: clamp(1.5rem, 2vw, 3rem);;
}
.even-info-box img{
    width: min(20%, 150px);
    height: auto;
}*/
.info img{
    border-radius: 10px;
    width: 250px;
    height: auto;
}
.info p{
    
    font-size: clamp(1rem, 1vw, 3rem);
    text-align: justify;
    width: 60%;
}
.info p span{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(rgb(47, 47, 243),rgb(161, 22, 248));
    font-weight: bold;
    font-size: clamp(1.5rem, 2vw, 4rem);
}
.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-section h1 {
  text-align: center;
  font-size: 2rem;
  color: #e67e22;
  margin-bottom: 50px;
  position: relative;
}

.about-block {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.about-block.reverse {
  flex-direction: row-reverse;
}

.about-img {
  width: 80%;
  flex: 1 1 0;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.about-img.wide {
  width: 300px;
  height: 250px;
}

.about-img.tall {
    width: 200px;
    height: 500px;
}

.about-img.square {
    width: 250px;
    height: 350px;
}

.about-text {
  flex: 1 1 2px;
  padding: 20px;
}

.about-text h2 {
  font-size: 1.8rem;
  color: #e67e22;
  margin-bottom: 15px;
}

.about-text p {
  width: 100%;
  font-size:clamp(1rem, 1vw, 3rem);
  line-height: 1.6;
  color: #555;
}
.info-box{
     border-radius: 15px;
    border: 1px solid #e67e22;
    gap: 5rem;
    padding: 30px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-content{
    line-height:35px;
    width: 90%;
li>b{
    color: green;
}
}
.info-content p{
    margin: 0;
    width: 100%;
    font-size: 1rem;
}
/*.info p span {
    position: relative;
    right: 10px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(rgb(60, 255, 30), rgb(60, 255, 30));
    font-weight: bold;
    font-size: clamp(1.5rem, 2vw, 4rem);
}*/
.info-content h2{
    color: crimson;
    font-family:  'Times New Roman', Times, serif;
    font-size: clamp(1.5rem, 2vw ,3rem);
    border-bottom: 2px solid rgb(30, 53, 255);
    text-align: center;
}
/*.aboutus2{
    background-color:  rgb(253, 239, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(140, 126, 126, 0.75), 0 6px 20px 0 rgba(122, 118, 118, 0.75);
    border-radius: 20px;
    left: -150px;
    width: 60%;
    height: auto;
    border: 1px solid white;
    position: relative;
}*/

.msg-container{
    
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.msg-container-title{
    letter-spacing: 3px;
    background: linear-gradient(90deg,rgb(215, 17, 17) 0%, rgb(34, 89, 255) 50%, rgb(255, 49, 49) 100%);
    background-clip: text;
    padding: 5px;
    font-weight: bold;
    color: transparent;
    font-family: var(--greatVibes);
    font-size: clamp(2rem, 3vw, 4rem);
    text-align: center;

}
.msg-container-button{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--serif);
    color: #ff8400;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    justify-content: center;
    /* text-decoration: none; */
    display: flex;
    align-items: center;
    /* text-align: center; */
    width: 200px;
    height: 60px;
    background: #C9CCD3;
    background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: lighten;
    border-radius: 40px;
    transition: all 0.2s ease-in-out;
}
.msg-container-button:hover{
    transform: scale(1.02);
}
.brands-logos{
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.brands-logos img{
    margin: 10px;
    width: 100px;
    height: auto;
}
#nrdoor{
    background-color: black;
}
.brand-shoutout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--serif);
    align-items: center;
p{
    text-align: center;
    padding: 10px;
}
}
.locateus h3{
    font-family: var(--serif);
    font-weight: bold;
    color: #e67e22;
    margin: 0 0 15px 0;
    width: 100%;
    text-align: center;
span{
    color: green;
}
}
.locateus{

    align-items: center;
    padding: 20px;

iframe{
    border-radius: 15px;
}
}
.reviews-container{
    margin: 0 50px 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* screen size 912*/
@media(max-width:1150px){
    .info{
        flex-direction: column;
    }
}
@media(max-width:912px){
    .reviews-container{
        margin: 25px;
        flex-direction: column;
    }
    .locateus-container{
        flex-direction: column;
    }
    .reviews{
        width: 100%;
    }
    .info-content{
        width: 100%;
    }
    .info-content p{
        font-size: small;
        text-align: justify;
        width: 100%;
    }
    .info-box{
        width: 80%;
        gap: 2rem;
        flex-direction: column;
    }
    .info img{
        width: 200px;
    }
}

/* screen size 600px*/
@media(max-width:600px){
    .map-view iframe{
        width: 250px;
        height: 250px;
    }
    /*.aboutus2{
        width: 80%;
        left: 0;
    }*/
    .info-contaier{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
    }
    .info-content{
        width: 100%;
    }
    .info{
        width: 100%;
        gap: 10px;
        margin: 20px 30px 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .info-box{
        width: 90%;
        padding: 30px;
    }
    .even-info-box{
        gap: 10px;
        flex-direction: column;
        margin: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .even-info-box img{
        height: auto;   
        width: 100px;
    }
    .info img{
        height: auto;
        width: 150px;
    }
    .info p {
        width: 100%;
        font-size: smaller;
        line-height: 1.6;
        color: #555;
    }
    .even-info-box p{
        width: 80%;
        font-size: smaller;
        line-height: 1.6;
        color: #555;
    }
    .about-text p {
        width: 100%;
        font-size:smaller;
        line-height: 1.6;
        color: #555;
    }
    .about-block,
    .about-block.reverse {
        flex-direction: column;
    }
    .about-text {
        padding: 10px;
    }
    .about-img.wide,
    .about-img.tall,
    .about-img.square {
        margin: 0 -20px;
        width: 300px;
        height: 250px;
    }
    .msg-container{
        height: 200px;
    }
    .msg-container-button{
        width: 150px;
        height: 50px;

    }
}