.contact-us{
    
    padding: 20px;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
h1{
    color: green;
}
}
.contact-item{
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    column-gap: 20px;
    width: 250px;
    background-color: wheat;
    border-radius: 35px;
h2{
    padding: 0 20px 0 0;
    margin: 0;
}
}
.thumbnail{    
    justify-content: center;
    display: flex;
    align-items: center;
    border: 2px solid green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    
img{
    width: 40px;
    height: 40px;
}
}
.thumbnail:hover{
    animation: spin 1s ease-in-out;
}
@keyframes spin{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@media(max-width:1150px){
    .contact-item{
        width: 300px;
    }
    .contact-us{
        width: 60%;
        margin: 30px 0  0 0;
        height: 500px;
    }
}
@media(max-width:912px){
    .contact-item{
        width: 250px;
    }
}
@media(max-width:600px){
    .contact-item{
        width: 200px;
    }
}