.gallery-container{
    
    margin-top: 70px;
}
.gallery-container h1 {
  text-align: center;
  font-family: var(--serif);
  padding: 5px;
  font-size: 2.5rem;
  margin: 10px 30px 0 30px;
  color: #048300;
  letter-spacing: 2px;
  border-bottom: 1px solid black;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.8s ease;
}

.gallery-item:hover {
  transform: scale(1.02);
}

.gallery-item img {
  aspect-ratio: 14 / 9 ;
  object-fit: cover;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  display: block;
  filter: sepia(20%) contrast(90%);
}

