{% extends 'shop.html' %}
{% load static %}
{% block product-view %}
<section>
    <div class="product-view-container">
        <div class="product-display-section">
            <div class="product-item">
                <img  class="product-image" src="{{ specific_product.Product_Image.url }}" alt="product image">
                <div class="product-spec">
                    
                    <div class="product-spec-title">{{ specific_product.Model_No }}</div>                          <!--Model no-->
                    {% if specific_product.Price %}
                    <div class="spec-price"><span>₹</span> {{ specific_product.Price }} <sub>-10%</sub></div>       <!--price-->       
                    {% else %}
                    <div class="spec-price"><span>₹</span> -- </div>                                                  
                    {% endif %}
                    <div class="spec-container">
                        {% if specific_product.Brand %}
                        <div class="spec"><p>Brand</p>:<span>{{ specific_product.Brand }}</span></div>                  <!--Brand-->
                        {% endif %}

                        {% if specific_product.Color %}
                        <div class="spec"><p>Color</p>:<span>{{ specific_product.Color }}</span></div>                  <!--color-->
                        {% endif %}
                        
                        {% if specific_product.Size %}
                        <div class="spec"><p>Size</p>:<span>{{ specific_product.Size }}</span></div>                    <!--size-->
                        {% endif %}

                        {% if specific_product.Material %}
                        <div class="spec"><p>Material</p>:<span>{{ specific_product.Material }}</span></div>            <!--material-->
                        {% endif %}

                        {% if specific_product.Thickness %}
                        <div class="spec"><p>Thickness</p>:<span>{{ specific_product.Thickness }}</span></div>          <!--thickness-->
                        {% endif %}

                        {% if specific_product.Finish %}
                        <div class="spec"><p>Finish</p>:<span>{{ specific_product.Finish }}</span></div>                <!--finish-->
                        {% endif %}

                        {% if specific_product.Description %}
                        <div class="spec"><p>description</p>:<span>{{specific_product.Description}}</span></div>         <!--description-->
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>
<h2 class="related-pro-title">Related products....</h2>
        <div class="related-products">
            <div class="shop-search">
                {% for object in related_products %}
                    <a href="{% url 'product-view' object.slug %}" class="shop-item">
                        <img  src="{{ object.Product_Image.url }}" alt="image">
                        <div class="item-spec">
                           <p>{{ object.Model_No }}</p>
                        </div>
                    </a>
                 {% endfor %}
            </div>
        </div>

{% endblock %}