.faq-container{
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  border-radius: 15px;
}
.faq-item-container {
    font-weight: 400;
    border-radius: 20px;
    padding: 20px;
    width: 60%;
    font-family: 'Arial' Arial, Helvetica, sans-serif;
}
.faq-item {
  border-bottom: 1px solid black;
    padding: 10px 10px;
}
.faq-item-container h1{
  font-family: var(--serif);
  margin: 0 0 20px 0;
  color: #DE7300;
}
.faq-question {
    font-family: var(--serif);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}
.faq-answer {
    font-family: var(--serif);
    display: none;
    padding: 10px 0;
    color: #444;
}
.arrow {
  transition: transform 0.3s ease;
}
.faq-item.active .faq-answer {
  display: block;
}
.faq-item.active .arrow {
  transform: rotate(90deg);
}
.faq-image img{
  width: 400px;
  height: 500px;
}

@media (max-width:1024px){
  .faq-image img{
    width: 300px;
    height: 350px;
}
}
@media(max-width:912px){
  .faq-item-container{
    width: 100%;
  }
  .faq-container{
    flex-direction: column-reverse;
  }
}