
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Great+Vibes&family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&display=swap');
:root{
    --greatVibes : "Great Vibes", cursive;
    --serif :  "IBM Plex Serif", serif;
    --agbalumo: "Agbalumo", system-ui;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body{
    overflow-x: hidden;
    background-color: #fff;
    
}
.c-banner{
    gap: 8rem;
    background-image: url(../images/dark.webp);
    width: 100vw;
    height: 700px;
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.c-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 0 10px 0px 0px;
    width: 50%;
}
.c-title p{
    text-align: justify;
    font-family: var(--serif);
    font-weight: 200;
    font-style: normal;
    font-optical-sizing: auto;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size:clamp(1rem, 1.5vw, 3rem);
    animation: title-p 1s ease-in;
}
@keyframes title-p{
   from {opacity: 0;} to {opacity: 1; }
}
.c-title h3{
    font-weight: bold;
    font-family: var(--agbalumo);
    font-size: clamp(2rem, 5vw,6rem);
    color: #FFD52A;
    font-weight: bold;
}
.c-title h3,.c-title h2{
    overflow: hidden;
    white-space: nowrap;
    animation:  typing 3s steps(40,end)
}
@keyframes typing{
    from { width: 0 }
    to {width: 100% }
}

.c-title h2{
    font-optical-sizing: auto;
    font-weight: bold;
    font-family: var(--agbalumo);
    margin-top: 5px;
    font-size: clamp(2rem, 5vw,6rem);
    color:#DE7300;
    font-weight: bold;
}

.banner-video video{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75), 0 6px 20px 0 rgba(0, 0, 0, 0.75);
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.banner-video{
    animation: video 1s ease-in;
}
@keyframes video{
    from{opacity: 0} to {opacity: 1}
}
.c-home{
    width: 100%;
    height: 100%;
    background-color: black;
}
.c-navbar{
    left: 0;
    z-index: 5;
    font-family: var(--serif);
    font-weight: 400;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid black;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid white;
}

.c-brand a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.c-nav-links{
    margin: 0;
    padding: 0 2rem;
    list-style: none;
    display: flex;
    gap: 3rem;
}

.c-nav-links a{
    
    margin: 0 0 0 10px;
    color: black;
    font-weight:bolder;
    text-decoration:  none;
    transition:  0.3s ease-in-out;
}

.c-hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    margin: 5px auto;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.c-nav-links i{
    display: none;
}
.c-nav-links  a {
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.c-nav-links  a::before,
.c-nav-links  a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #DE7300;
    transition: all 0.5s;
}

.c-nav-links  a::before {
    top: 0;
    left: 0;
}

.c-nav-links  a::after {
    bottom: 0;
    right: 0;
}

.c-nav-links  a:hover::before {
    width: 100%;
    transition: width 0.25s ease-in-out;
}

.c-nav-links  a:hover::after {
    width: 100%;
    transition: width 0.25s ease-in-out 0.25s;
}  
.social-mediaicons{
    top: 10px;
    height: 4.5em;
    border-radius: 50px;
    background-color: transparent;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    animation: icons-fade 2s ease-in;
}
@keyframes icons-fade{
    from { opacity: 0;} to {opacity: 1;}
}

.social-mediaicons a{
    border: 1px solid white;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    background-color: #d17513;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.social-mediaicons a:hover{
    
    transform: scale(1.2);
}
.user-login{
    width: 30px !important;
}

/* screen size 1024*/
@media(max-width:1024px){
    .c-nav-links a{
        overflow: visible;
    }
    .c-banner{
        gap: 1rem;
    }
}

/* screen size 912*/
@media(max-width:912px){
    .c-title {
        align-items: center;
        margin: 50px 10px 0px 0px;
        width: 80%;
    }
    .c-title h3,.c-title h2{
        white-space: nowrap;
        margin: 0 auto;
        animation:typing 1s steps(100,end), blink-caret .75s step-end infinite;;
    }
    @keyframes typing{
        from { width: 0 }
        to {width: 150px }
    }
    @keyframes slide{
        from {
            opacity: 0;
            right: -500px
        } 

        to {
            opacity: 1; 
            right: 0px
        }
    }
    .c-title p{
        width: 60%;
        text-align: center;
    }
    .c-banner{
        gap: 1em;
        flex-wrap: wrap;
    }
     .banner-video video{
        width: 300px;
        height: 300px;
    }
    .c-hamburger{
        display: block;
        border-radius: 5px;
    }
    .c-hamburger.active .bar:nth-child(2){
        opacity: 0;
        border-radius: 5px;
    }
    .c-hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        border-radius: 5px;
    }
    .c-hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        border-radius: 5px;
    }
    .c-navbar{
        flex-direction: row-reverse;
    }         
    .c-nav-links{
        background-color: white;
        padding: 0 2rem;
        position: fixed;
        left: -100%;
        top: 67px;
        gap: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 45vw;
        height: 100vh;
        transition: 0.5s ease-in-out;
        margin-top: 0;
        padding-top: 20px;
        font-size: small;
    }

    .c-nav-links.active{
        top: 67px;
        left: 0%;
        right: 10px;
        bottom: 10px;
    }
    .c-nav-links li{
        width: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px;
    }
    .c-nav-links i{
        display: inline;
        text-align: justify;
        margin: 0 10px 0 0;
    }
}

/* screen size 600*/
@media(max-width:600px){
    .c-title {
        align-items: center;
        margin: 50px 10px 0px 0px;
        width: 80%;
    }
    .c-title p{
        width: 100%;
        text-align: center;
    }
    .banner-video video{
        width: 200px;
        height: 200px;
    }

    .c-banner{
        background-image: url('../images/dark2.webp');
        height: 600px;
        flex-wrap: wrap;
        gap: 1em;
    }
    
    i{
        display: block;
        margin: 0 50px 0 0;
    }
    .social-mediaicons{
        height: 3.5em;
        width: 250px;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    .social-mediaicons a{
        height: 30px;
        width: 30px;
        display: flex;
        background-color: #DE7300;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}
